body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#hero {
    text-align: center;
    padding: 50px;
    background-color: #007BFF;
    color: #fff;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

button {
    background-color: #ff6f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
